@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --button-text: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1F2020;
    --foreground: #ededed;
    --button-text: #1F2020;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

[hidden]{
  display: none;
}

button {
  color: var(--button-text);
}
